<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/57a1733cfa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/poster.css">
    <title>My First Render Project</title>
</head>
<body>

    <div class="container">
        <div class="form-container">
            <form action="/search" method="POST">
                <input type="text" name="movieTitle" placeholder="Find a movie">
                <button type="submit">Search</button>
            </form>
        </div>
        
        <div class="movie-card">
            <h2 class="movie-title"><%= movieData.title  %></h2>
            <p class="movie-genres">
                <span   class="movie-rating">PG-13</span> 
                <span class="release-date"><%= releaseDate %></span> 
                <span class="genres"> <%= genres %> </span> 
                <span class="movie-duration"><%= movieData.runtime %> minutes</span>
            </p>
            <div class="movie-poster-container">
                <img src="<%= poster %>" alt="">
            </div>

            <div class="movie-info-container">
                <p class="movie-info-quote"><%= movieData.tagline %></p>

                <h2 class="movie-info-overview-title">overview</h2>
                <p class="movie-info-overview"><%= movieData.overview %></p>

                <div class="movie-info-actions">
                    <ul>
                        <li><a href="#" class="add-fav"><i class="fa-solid fa-heart"></i></a></li>
                        <li><a href="#" class="add-bookmark"><i class="fa-regular fa-bookmark"></i></a></li>
                        <li><a href="#" class="rate-movie"><i class="fa-solid fa-star"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="chat-container">
            <iframe
                allow="microphone;"
                width="350"
                height="430"
                src="https://console.dialogflow.com/api-client/demo/embedded/377183c1-e67e-4c16-85a8-bb9eec19263a">
            </iframe>
        </div>

        <footer>
            <h3>Find me to discuss the movie</h3>
             
            <ul>
                <li> <a href="#">Twitter <i class="fa-brands fa-twitter"></i></a></li>
                <li> <a href="#">Instagram <i class="fa-brands fa-instagram"></i></a> </li>
                <li> <a href="#">Facebook <i class="fa-brands fa-facebook"></i></a> </li>
            </ul>
    
            <p>Reigo Jool &#169; <%= year %></p>
    
        </footer>


    </div>


    
</body>
</html>